body{
	color: #262626;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	overflow-x: hidden !important;
}
.clearfix{
	clear: both;
}
.alx-mobile{
	max-width: 500px;
	margin: 0px auto;
	display: block;
}
.alx-mobile-int{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 350px;
	margin: 0px auto;
	display: block;
}
.alx-mb-20{
	margin-bottom: 20px;
}
/*TEXT******************************/
.alx-txt-super{
	font-size: 22px;
	line-height: 25px;
}
.alx-txt-gde{
	font-size: 20px;
	line-height: 23px;
}
.alx-txt-normal{
	font-size: 18px;
	line-height: 21px;
}
.alx-txt-ch{
	font-size: 16px;
	line-height: 19px;
}
.alx-txt-min{
	font-size: 12px;
	line-height: 15px;
}
.alx-w-regular{
	font-weight: 400;
}
.alx-w-medium{
	font-weight: 500;
}
.alx-w-bold{
	font-weight: 700;
}
.alx-w-extrabold{
	font-weight: 800;
}
.alx-w-black{
	font-weight: 900;
}
.alx-txt-black{
	color: #262626;
}
.alx-txt-pink{
	color: #F70BA5;
}
.alx-txt-white{
	color: #F70BA5;
}

/*TABLAS Y LISTAS*/
.alx-table-super-title{
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
}
.alx-table-row-title{
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.alx-table-no-padding{
	padding-left: 0px;
	padding-right: 0px;
}
.alx-table-no-padding-right{
	padding-right: 0px;
}
.alx-table-no-padding-left{
	padding-left: 0px;
}
.alx-table-row{
	padding-bottom: 10px;
	
}
.alx-table-row-border{
	border-bottom: 1px solid #9B9B9B;
	margin-bottom: 20px;
}
.alx-line-h{
	border-bottom: 1px solid #9B9B9B;
}
.alx-line-v-left{
	border-left: 1px solid #9B9B9B;
}
.alx-table-title-col{
	color: #F70BA5;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
}
.alx-table-title-col-black{
	color: #262626;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
}
.alx-table-title-col-right{
	color: #F70BA5;
	font-size: 11px;
	font-weight: 700;
}
.alx-table-txt{
	font-size: 12px;
	line-height: 14px;
}
.alx-table-txt-min{
	color: #F70BA5;
	font-size: 10px;
	line-height: 12px;
}
.alx-table-txt-min-black{
	font-size: 10px;
	line-height: 12px;
}
.alx-table-dato{
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}
.alx-table-dato-min{
	font-size: 12px;
	line-height: 16px;
	font-weight: 700;
}
.alx-table-producto{
	padding-left: 60px;
	position: relative;
	min-height: 50px;
}
.alx-table-producto-img{
	/*height: 30px;
	width: 30px;*/
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
}
.alx-table-producto-img img{
	width: 50px;
}
.alx-table-icon-qr{
	background-image: url('/images-my-app/icon-qr.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 20px auto;
	padding-left: 30px;
}
.alx-table-icon-img{
	background-image: url('/images-my-app/icon-img.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 20px auto;
	padding-left: 30px;
}
.alx-table-icon-geo{
	background-image: url('/images-my-app/icon-geo.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 20px auto;
	padding-left: 30px;
}
.alx-table-icon-ver{
	background-image: url('/images-my-app/icon-ver.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 26px auto;
	width: 26px;
	height: 26px;
	display: block;
	margin: 0px auto;
}
.alx-table-icon-descargar{
	background-image: url('/images-my-app/icon-descarga.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 23px auto;
	width: 26px;
	height: 26px;
	display: block;
	margin: 0px auto;
}
.alx-table-icon-reenviar{
	background-image: url('/images-my-app/icon-reenviar.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 26px auto;
	width: 26px;
	height: 26px;
	display: block;
	margin: 0px auto;
}
.alx-estadistica-cuadro{
	padding-bottom: 20px;
	padding-top: 20px;
}
.alx-icon-estadistica{
	height: 60px;
	width: 60px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}
.icon-www{
  background-image: url('/images-my-app/icon-e-www.png');
  background-position: 0px 19px;
  width: 100px;
}
.icon-regitros{
  background-image: url('/images-my-app/icon-e-registros.png');
}
.icon-acceso{
  background-image: url('/images-my-app/icon-e-acceso.png');
}
.icon-activaciones{
  background-image: url('/images-my-app/icon-e-activaciones.png');
}
.icon-canjes{
  background-image: url('/images-my-app/icon-e-canjes.png');
}
.icon-ganancia{
  background-image: url('/images-my-app/icon-e-ganancia.png');
}


/*BACKGROUND******************************/
.alx-back-black{
	background-color: #262626;
}
.alx-back-pink{
	background-color: #F70BA5;
}
.alx-back-white{
	background-color: #FFFFFF;
}

/*BOTOMS***********************************/
.alx-btn{
	background-color: #F70BA5;
	height: 40px;
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 17px;
	line-height: 40px;
	font-weight: 700;
	text-decoration: none;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	width: max-content;
}
.alx-btn:hover{
	color: #FFFFFF;
	text-decoration: none;
}
.alx-btn.alx-btn-cerrar{
	background-image: url('/images-my-app/icon-cerrar.png');
	background-position: 15px 12px;
	background-repeat: no-repeat;
	background-size: 23px auto;
	margin: 0px auto;
	padding-left: 42px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.input-container {
	display: flex;
	align-items: center;
	width: 100%;
}
.alx-btn-search{
	background-image: url('/images-my-app/icon-lupa.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	margin-right: 10px;
	border: 0px;
	background-color: #FFFFFF;
}
.alx-input-search{
	background-color: #FFFFFF;
	height: 40px;
	line-height: 40px;
	border: 0px;
	border-bottom: 1px solid #F70BA5;
	width: 100%;
	flex: 1;
	font-size: 14px;
}
.alx-input-search:focus {
  outline: none;
}






/*THEME****************************************/
#alx-header{
	height: 100px;
	padding-top: 21px;
}
#alx-header-etq{
	/*border-radius: 0px 29px 29px 0px;*/
	/*box-shadow: 0px 5px 10px #D0D0D0;*/
	font-size: 27px;
	height: 58px;
	line-height: 58px;
    padding-left: 40px;
    padding-right: 40px;
    width: max-content;
    background: rgb(255,255,255);
/*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(224,224,224,0.5046393557422969) 100%);
*/

}
#alx-header-etq img{
	/*height: 32px;*/
	height: auto;
	position: relative;
	margin-top: -6px;
	margin-left: 10px;
	max-width: 140px;
}
#alx-body{
	
}
.alx-body-padding{
	padding-top: 20px;
	padding-bottom: 20px;
}
#alx-footerfantasma{
    height: 70px;
	position: relative;
	display: block;
}
#alx-footer{
	background-image: url('/images-my-app/footer.png');
	background-color: #0C060C;
	background-position: center center;
	height: 70px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 999;
}
#alx-footer-logo{
	background-image: url('/images-my-app/logo-footer.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 100px;
	height: 25px;
	position: absolute;
	left: 10px;
	top: 22px;
}
#alx-footer-txt{
	background-image: url('/images-my-app/txt-footer.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 125px;
	height: 15px;
	position: absolute;
	right: 10px;
	top: 27px;
}
.alx-section{
	padding-top: 20px;
	padding-bottom: 20px;
}




/*HOME*****************************************/
.alx-home-btn{
	color: #262626;
	padding-left: 100px;
	border-bottom: 1px solid #9B9B9B;
	width: 100%;
	display: block;
	text-decoration: none;
	color: #262626;
	font-size: 18px;
	line-height: 22px;
	padding-top: 10px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	position: relative;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}
.alx-home-btn::before{
	color: #262626;
	content: '';
	height: 58px;
	width: 58px;
	position: absolute;
	left: 0px;
	top: 5px;
	display: block;
	background-repeat: no-repeat;
	background-size: 58px auto;
	text-decoration: none;
}
#alx-btn-ingreso::before{
	background-image: url('/images-my-app/ingreso-de-usuario.png');
  left: 25px;
  top: 15px;
}
#alx-btn-ingreso{
	background-color: #000000;
	border: 3px solid #F70BA5;
	border-radius: 57px;
	color: #FFFFFF;
	padding-left: 115px;
	padding-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
}
#alx-btn-activaciones::before{
	background-image: url('/images-my-app/btn-activaciones.png');
}
#alx-btn-redenciones::before{
	background-image: url('/images-my-app/btn-redenciones.png');
}
#alx-btn-usuarios::before{
	/*background-image: url('/images-my-app/btn-usuarios.png');*/
	background-image: url('/images-my-app/monitos.png');
	background-size: 50px auto;
    background-position: center;
    background-repeat: no-repeat;
}
#alx-btn-estadisticas::before{
	background-image: url('/images-my-app/btn-estadisticas.png');
	background-size: 50px auto;
}


.alx-section-title{
	background-color: #262626;
}
.alx-section-title-txt{
	color: #FFFFFF;
	padding-left: 100px;
	width: 100%;
	display: block;
	font-size: 18px;
	line-height: 22px;
	padding-top: 17px;
	padding-bottom: 18px;
	position: relative;
}
.alx-section-title-txt::before{
	content: '';
	height: 58px;
	width: 58px;
	position: absolute;
	left: 0px;
	top: 10px;
	display: block;
	background-repeat: no-repeat;
	background-size: 58px auto;
	background-position: center center;
}
#alx-title-ingreso::before{
	background-image: url('/images-my-app/txt-activaciones.png');
}
#alx-title-activaciones::before{
	background-image: url('/images-my-app/txt-activaciones.png');
}
#alx-title-redenciones::before{
	background-image: url('/images-my-app/txt-redenciones.png');
}
#alx-title-usuarios::before{
	background-image: url('/images-my-app/txt-usuarios.png');
	background-size: 42px auto;
}
#alx-title-estadisticas::before{
	background-image: url('/images-my-app/txt-estadisticas.png');
	background-size: 47px auto;
}




/*ESCANER******************************************/
#alx-super-cont-scaner{
	position: relative;
}
#preview{
   width:100%;
   margin:0px auto;
}
.alx-escaner-lt{
	width: 40px;
	height: 40px;
	border-top: 4px solid #F70BA5;
	border-left: 4px solid #F70BA5;
	border-radius: 10px 0px 0px 0px;
	z-index: 1;
	position: absolute;
	top: 15px;
	left: 15px;
}
.alx-escaner-rt{
	width: 40px;
	height: 40px;
	border-top: 4px solid #F70BA5;
	border-right: 4px solid #F70BA5;
	border-radius: 0px 10px 0px 0px;
	z-index: 1;
	position: absolute;
	top: 15px;
	right: 15px;
}
.alx-escaner-lb{
	width: 40px;
	height: 40px;
	border-bottom: 4px solid #F70BA5;
	border-left: 4px solid #F70BA5;
	border-radius: 0px 0px 0px 10px;
	z-index: 1;
	position: absolute;
	bottom: 20px;
	left: 15px;
}

.alx-escaner-rb{
	width: 40px;
	height: 40px;
	border-bottom: 4px solid #F70BA5;
	border-right: 4px solid #F70BA5;
	border-radius: 0px 0px 10px 0px;
	z-index: 1;
	position: absolute;
	bottom: 20px;
	right: 15px;
}
.alx-cont-scaner{
	position: relative;
}
#alx-capa-scaner{
	background-color: #000000;
	height: 100%;
	width: 100%;
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}
#alx-capa-scaner.mostrar-info-scaner{
	display: block;
}
#alx-capa-r-scaner{
	height: 100%;
	width: 100%;
	position: relative;
}
#alx-info-scaner{
	background-color: #FFFFFF;
	border-radius: 30px;
	padding: 20px 20px 10px 20px;
	margin: 20px 20px;
	position: relative;
	z-index: 5;
}
#alx-capa-opacity-scaner{
	background-color: #000000;
	opacity: 0.8;
	z-index: 4;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}
.alx-info-img-scaner{
	width: 60px;
	margin-bottom: 10px;
}
.alx-info-scaner-ocultar{
	display: none;
}
#alx-info-scaner-img-prodcuto.alx-info-img-scaner{
    	width: 180px;
}



@media only screen and (max-width: 1199px) {
	
}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 575px) {
	
	
}


@media only screen and (max-width: 380px) {

}