@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
	transition: opacity 0.25s ease;
}
body.modal-active {
	overflow-x: hidden;
	overflow-y: visible !important;
}

.autoComplete_wrapper {
	width: 100%;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.swiper-grid-column>.swiper-wrapper {
	flex-wrap: wrap;
	flex-direction: row!important;
}

.swal2-html-container {
	margin: 1em 0.6em .3em!important;
}

.btn-pill {
	@apply rounded-full bg-pink-600 text-white px-5 py-2 inline-block lg:text-xl lg:py-2 lg:px-8
}

.btn-pill2 {
	@apply rounded-full bg-gray-300 text-gray-900 px-5 py-2 inline-block lg:text-xl lg:py-2 lg:px-8 font-bold
}

.input-underline {
	@apply appearance-none border-0 border-b border-gray-300 w-full py-1 px-1 text-gray-700 focus:border-gray-300 focus:ring-0 focus:outline-hidden
}

.input-border {
	@apply appearance-none border border-gray-300 w-full py-1 px-1 text-gray-700 focus:border-gray-300 focus:ring-0 focus:outline-hidden
}

.center-website {
	@apply max-w-7xl mx-auto sm:px-6 lg:px-8
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
